.card {
  width: 13rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 20px !important;
  border: none !important;
  box-shadow: -2px 11px 50px -5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -2px 11px 50px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -2px 11px 50px -5px rgba(0, 0, 0, 0.7);
  min-height: 300px;
  text-align: center;
  cursor: pointer;
  z-index: 0;

  .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .logo {
    display: flex;
    box-sizing: border-box;
    width: 40%;
    margin: 1.5rem;
  }

  .logos {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }

  .icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
      transform: translateY(-0.25rem);
      transition: all 0.2s ease-in-out;
    }
  }

  .exclamation-mark {
    background: url("../../assets/important.png");
  }

  .full-exclamation-mark {
    background: url("../../assets/important-clicked.png");
  }

  .done {
    background: url("../../assets/done.png");
  }

  .edit {
    background: url("../../assets/edit.png");
  }

  .header-logos {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0.75rem 0 0.75rem;
    width: 100%;

    .date {
      font-size: 8px;
      display: flex;
      flex-wrap: wrap;
      width: 30%;
      font-weight: 500;
    }
  }

  &:hover {
    animation: rotate 1s;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0turn);
    transition: transform ease-in-out;
  }
  25% {
    transform: rotate(0.01turn);
    transition: transform ease-in-out;
  }
  75% {
    transform: rotate(-0.01turn);
    transition: transform ease-in-out;
  }
  100% {
    transform: rotate(0turn);
    transition: transform ease-in-out;
  }
}
